@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

.logo {
	height: 30px;
	width: 30px;
}

nav {
	background-color: #222;
	height: 50px;

	.left-nav {
		float: left;

		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			align-items: center;

			li {
				text-transform: uppercase;
				color: #aaa;
			}
		}
	}

	.right-nav {
		float: right;

		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			align-items: center;

			li {
				margin: 0 5px 0 5px;

				a {
					color: #0088cc;
					text-decoration: none;
					font-size: 0.75em;
					padding-right: 10px;
				}
			}
		}
	}
}

.border-right {
	border-right: 1px solid lightgray;
}

.one {
	padding: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://raw.githubusercontent.com/migueloherrera/ctop/master/css/../images/home.jpg);
	background-position: center center;
	background-size: cover;

	.headline {

		h1 {
			color: white;
			font-weight: normal;
			font-size: 4em;
			font-family: 'Open Sans Condensed', sans-serif;
			line-height: 1em;
		}

		h2 {
			color: #f90;
			font-size: 1.75em;
			margin: 0;
			font-weight: normal;
		}
	}

	.explore {

		button {
			font-size: 1.75em;
			line-height: 1.25em;
			width: 100%;
			max-width: 14em;
			min-height: 2.5em;
			margin: .5em auto;
			font-family: "Open Sans Condensed", sans-serif;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
			background-color: #5bb75b;
			background-image: linear-gradient(to bottom, #62c462, #51a351);
			background-repeat: repeat;
			border-radius: 20px;
			border: none;
			margin-top: 100px;

			&:hover {
				cursor: pointer;
			}
		}

		p {
			font-size: .75em;
			font-weight: 300;
			color: white;
			margin-top: 15px;
			font-family: 'Open Sans', sans-serif;
		}
	}
}

.social-media {
	height: 50px;
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;

	& > * {
		margin-right: 100px;
	}
}

.what-its-about {

	h2 {
		font-size: 2.75em;
		line-height: 125%;
		font-weight: bold;
		color: #444;
		margin-top: 100px;
		margin-bottom: 1em;
		font-weight: bold;
	}

	h4 {
		font-size: 1.5em;
    font-weight: 300;
    line-height: 125%;
    color: #666;
	}

	.about-panels {

		.about-panel {

			.img-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 100px;
					height: auto;
					border: 0;
				}
			}

			h3 {
				color: #f60;
				font-size: 2em;
				font-weight: 300;
				line-height: 125%;
				text-align: center;
			}

			p {
				text-align: center;
				font-weight: 300;
				font-size: .75em;
				color: #666;		
			}
		}
	}
}

.dark {
	background: url(../images/background.png);
}

.what-youll-learn {
	
	h2 {
		color: white;
		font-size: 2.75em;
		font-weight: bold;
		line-height: 125%;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 1em;
	}
}

.course-panel {

	img {
		margin-right: 20px;
	}

	.course {
		margin-bottom: 50px;

		a {
			text-decoration: none;
			color: white;
			display: flex;
			flex-direction: row;

			&:hover {
				background: linear-gradient( rgba(125, 125, 125, 0.1), rgba(125, 125, 125, 0.1) );
			}

			p {
				color: #9f9f9f;
			}
		}
	}
}

.how-it-works {

}